.header
	padding 10px 0
	background #267da0 
	border-bottom 1px solid #3390b6
.top-line
	color white
//.main-cont
.top-line-wrap
	flex(between)
.top-line-info
	width 80%
	f()
.top-line-el
	f()
	align-items center
	margin-right 20px
.top-line-el-title
	font-weight bold 
	margin-right 10px
	font-size 14px
	up()
.top-line-el-info
	font-size 14px
	padding 3px 20px
	background #1c576e
	br(20px) 
.top-line-loc
	f()
.top-line-loc-el
	f()
	justify-content center
	margin-left 20px
.top-line-loc-icon
	.icon
		size 25px
		fill white
		margin-right 10px
.nav
	background #267DA0 
.nav-wrap
	flex(between)
	padding 10px 0
.menu
	flex(between)
	width 80%
.menu-el
	up()
	font-size 16px
	//font-weight bold
	color white
.nav-phone-el
	font-weight bold
	font-size 20px 
	display block
	color white
	
//.section 
.section-main 
	position relative
	bgi("bg-1.jpg") 
	bg-full()
	padding 0!important
.section-main-filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background rgba(69, 182, 228, 0.9)
//.main-cont 
.main-wrap 
	flex(between)
	align-items initial
.main-info 
	padding 40px 0
	width 60% 
.main-logo
	margin-bottom 20px 
	img
		width 80%
.main-title 
	up()
	font-size 42px
	color white
	margin-bottom 30px
.main-percent 
	font-size 160px
	font-weight bold
	color white
	line-height 160px
.main-text 
	up()
	font-size 20px
	color white
	margin-bottom 40px
.main-price-row 
	flex(between)
	justify-content flex-start
.main-price 
	margin-right 40px
	padding 10px 60px
	text-align center
	color blue
	background white 
	font-size 26px
	br(30px)
	color #267da0
	border 1px solid #267da0
.main-price--dark 
	background #267da0
	color white
	text-decoration line-through  
.main-form 
	background white 
	width 35%
	flex(mid)
	fl()
	padding 0 30px
	input
		width 100%
		margin-bottom 20px
	.btn
		border 0px
		background blue
		color white
		padding 15px 0
		br(25px) 
		margin-top 40px
.form-title
	up()
	text-align center
	font-size 24px
	font-weight bold 
	color blue
.form-title-sub
	up()
	font-size 18px
	font-weight bold 
.form-month
	up()
	font-weight bold 
	font-size 32px
	margin-bottom 30px
.form-foter-text
	text-align center
	color grey
.section 
	padding 120px 0
.section-info 
	background #45B6E4
//.main-cont 
.section-info__wrap 
	flex(between)
.section-info__content 
	width 45%
.section-info__title 
	up() 
	font-size 34px
	font-weight bold
	color white
.section-info__text 
	color white
	font-weight 300
	a
		color white
		text-decoration underline
.section-info__img 
	width 40%
	img
		width 100%
.section-info-two
	background #2A93BE 
.section-filter
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background rgba(69, 182, 228, 0.9)
//.section 
.section-step 
	position relative
	bgi('item-5.jpg')
	.section-title 
		color white
.section-title 
	font-size 34px
	text-align center
	up()
	font-weight bold 
.step 
	margin-top 100px
//.step-row 
.step-el 
	width 50%
	flex(between)
	align-items initial
.step-content 
	f()
	br(10px)
	background white 
	width 80%
.step-numb 
	color black
	flex(mid)
	border-right 1px solid blue
	padding  20px 
	font-size 32px
	font-weight bold 
.step-text
	flex(mid) 
	padding 20px 
	font-size 14px
.step-line 
	width 10%
	border-right 2px solid white
	position relative
	height auto
.step-dot
	size 30px
	round()
	background white  
	margin-top -15px
	position absolute
	right -15px
	top 50%
.step-row--right
	f()
	justify-content flex-end
	width 100%
	margin-left -2px
	.step-line
		height 100%
		border 0
		border-left 2px solid white
	.step-dot
		right initial
		left -15px
//.step-dot 